/* Base */
.header::before, .section-cta::before, .section-price::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* sections */
.header {
  width: 100%;
  /* height: 870px; */
  background-image: url("./../img/main-backgound/header-background_HD.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header {
    background-image: url("./../img/main-backgound/header-tablet.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/main-backgound/header-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("./../img/main-backgound/header-xs.jpg");
    background-size: cover;
    background-position: center;
  }
}

.header__wrapper {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  margin-bottom: 140px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__buttons {
    margin-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

/* header content */
.header__content {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__form-input {
  width: 240px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.header__title {
  margin-bottom: 40px;
  color: #FFF;
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__description {
  margin-bottom: 70px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;
  line-height: 1.2;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.header__description p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__description {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__description {
    font-size: 16px;
    max-width: 430px;
    margin-bottom: 33px;
  }
}
@media (max-width: 599px) {
  .header__description {
    margin-bottom: 14px;
  }
}

.section-functional {
  padding: 80px 0px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding: 50px 0px;
  }
}
@media (max-width: 899px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 68px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-functional__header {
    margin-bottom: 51px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__row {
    flex-wrap: wrap;
  }
}
@media (max-width: 899px) {
  .section-functional__row {
    margin-bottom: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.section-cta {
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/main-backgound/cta-bkcg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  /* Desktop MD */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .section-cta {
    background-image: url("./../img/main-backgound/cta-bg-desktop.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding: 40px 0px;
    background-image: url("./../img/main-backgound/cta-bg-tablet.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/main-backgound/cta-bg-m.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/main-backgound/cta-bg-xs.jpg");
    background-size: cover;
    background-position: center;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #FFF;
}

.section-cta__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 40px;
  /* Mobile */
  /* Mobile XS */
}
.section-cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #1e1e1e;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 24px;
  }
}

.section-tasks__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0px;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
            align-items: flex-start;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
    padding-bottom: 6px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    width: 100%;
    text-align: center;
    padding-top: 0px;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__description {
  width: 400px;
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  /* Tablet */
  /* Mobile XS */
}
.section-tasks__description p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-tasks__description {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 599px) {
  .section-tasks__description {
    line-height: 1.71;
  }
}

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    width: 100%;
    text-align: center;
    margin-bottom: 11px;
  }
  .section-tasks__img img {
    width: 270px;
    margin-right: auto;
    margin-left: auto;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0px;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 25px;
  }
}

.section-focus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.section-focus__row > * {
  flex-shrink: 0;
}

.section-focus__content {
  width: 470px;
  margin-bottom: 43px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 8px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
    padding-top: 0px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
}

.section-focus__header {
  margin-bottom: 65px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__description {
  /* width: 400px; */
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
}
.section-focus__description p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-focus__description {
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__description {
    line-height: 1.7;
  }
}

.section-focus__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    max-width: unset;
    width: 415px;
    height: 330px;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    width: 100%;
    margin-bottom: 12px;
  }
  .section-focus__img img {
    width: unset;
    max-width: 100%;
    height: unset;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.section-price {
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/main-backgound/price-backg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/main-backgound/price-backg-tablet.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/main-backgound/price-backg-mobile.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/main-backgound/price-backg-xs.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price__title {
  margin-bottom: 40px;
  color: #fff;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-top: -30px;
  }
}

.section-price__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.section-clients {
  padding: 80px 0px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients {
    padding-bottom: 0px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 30px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
    margin-top: 8px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.footer {
  padding: 70px 0px;
  background-color: #1A1A1A;
  color: #fff;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 33px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

.footer__row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    padding-top: 15px;
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  margin-right: 50px;
  /* Mobile XS */
}
.footer__nav-item:last-child {
  margin-right: 0px;
}
.footer__nav-item:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  display: -webkit-box;
  display: flex;
}

.footer__social-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  margin-right: 30px;
  transition: background-color 0.2s ease-in;
  /* Mobile XS */
}
.footer__social-item:last-child {
  margin-right: 0px;
}
.footer__social-item:hover {
  background-color: #00C470;
}
@media (max-width: 599px) {
  .footer__social-item {
    margin-right: 20px;
  }
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  /* Mobile XS */
}
.footer__copyright p + p {
  margin-top: 15px;
}
@media (max-width: 599px) {
  .footer__copyright {
    line-height: 1.5;
    padding: 0 50px;
  }
}

/* Blocks */
.button-round {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.button-round:hover {
  background-color: #00C470;
}

.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header__form {
    width: 370px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.header__form > * {
  margin-right: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form > * {
    margin-right: 0px;
    margin-top: 20px;
  }
}

.input {
  /* width: 240px; */
  /* width: 100%; */
  height: 60px;
  border-radius: 30px;
  border: none;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 30px;
  /* Mobile */
  /* Mobile XS */
}
.input::-webkit-input-placeholder {
  color: #FFF;
}
.input:-ms-input-placeholder {
  color: #FFF;
}
.input::-ms-input-placeholder {
  color: #FFF;
}
.input::placeholder {
  color: #FFF;
}
.input:focus {
  outline: none;
  background: black;
}
@media (max-width: 899px) {
  .input {
    padding-left: 46px;
    padding-right: 46px;
  }
}
@media (max-width: 599px) {
  .input {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.button {
  display: inline-block;
  height: 60px;
  border-radius: 30px;
  border: none;
  padding: 0px 40px;
  line-height: 60px;
  background: #00C470;
  color: #FFF;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background: #02844c;
}
.button:focus {
  outline: none;
  background: #015430;
}

.title {
  color: #15D784;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.title--white {
  color: #ffffff;
}

.subtitle {
  color: #2E2E2E;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.subtitle--white {
  color: #fff;
}

.card {
  text-align: center;
  width: 270px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
    margin-bottom: 6px;
  }
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    line-height: 1.57;
    min-height: 48px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__description {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__description {
    line-height: 1.57;
  }
}

.package {
  /* width: 300px; */
  padding: 40px 0px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.package--special {
  background: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.package__header {
  padding: 0px 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  color: #B2B2B2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.package__price {
  margin-bottom: 15px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  /* 80px */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.package__period {
  display: inline-block;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  height: 24px;
  padding: 0px 15px;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.package__list {
  padding: 40px 15px 0px;
  margin-bottom: 58px;
}

.package__list-item {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.package__list-item:last-child {
  margin-bottom: 0px;
}

.button-outline {
  height: 60px;
  border-radius: 30px;
  border: none;
  padding: 0px 40px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #FFF;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.button-outline:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background: black;
}

.button-solid {
  height: 60px;
  border-radius: 30px;
  border: none;
  padding: 0px 40px;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #2E2E2E;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.button-solid:hover {
  background: #000000;
  color: #fff;
}
.button-solid:focus {
  outline: none;
  background: #2f2f2f;
  color: #fff;
}

.section-clients__slider {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .slider {
    margin-bottom: 44px;
  }
}
@media (max-width: 599px) {
  .slider {
    padding-bottom: 40px;
  }
}

.slider__arrow {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  background-color: #F5F5F5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  /* Mobile XS */
}
.slider__arrow:hover {
  background-color: #00C470;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider__arrow path {
  transition: background-color 0.2 ease-in;
}

.slider__arrow:hover path {
  stroke: white;
}

.slider-item__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 200%;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;
}

.slider-item__author-title {
  margin-bottom: 5px;
  color: #00C470;
  display: block;
}

.slider-item__author-name {
  color: #808080;
  display: block;
}

/* pagination */
.slider__pagination {
  display: -webkit-box;
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  background-color: #E1E1E1;
  border-radius: 50%;
  border: none;
}

.slider__pagination-item--active {
  background-color: #00C470;
}

/* Media */
/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */